body {
    box-sizing: border-box;
}

main {
    width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(34, 60, 80, .6);
}

#groups-id, #users-id, #chat-id, #profile-id {
    height: 345px;
}

#send-message-panel, #create-group-panel, #create-profile-panel, #profile-panel {
    display: flex;
    margin: 5px;
}

#chat-message-input, #create-group-input, #create-profile-input {
    width: 70%;
    border-radius: 5px;
    margin-right: 5px;
}

#chat-message-submit, #create-group-submit, #create-profile-submit {
    width: 30%;
}

#chat-window, #groups-window, #profile-window, #users-window {
    height: 300px;
    border: 1px black solid;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: aqua;
    border-radius: 10px;
    overflow: hidden;
}

div #groups-window, #users-window {
    justify-content: flex-start;
}

.message {
    width: fit-content;
    border: 1px gray solid;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: lightgreen;
    word-break: break-all;
}
.main-message {
    width: fit-content;
    border: 1px gray solid;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: lightgray;
    word-break: break-all;
    align-self: flex-end;
}

.buttons {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    border-radius: 5px;
}
.small-buttons {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 3px;
    border-radius: 5px;
}

#management-toolbar {
    display: flex;
    flex-direction: column;
}

.group {
    border: 1px solid gray;
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
}

.group-name {
    float: left;
}

.group-edit-button, .group-delete-button, .group-connect-button, .user-connect-button {
    float: right;
}

#avatar-id {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    border-radius: 5px;
}

#avatar-img {
    padding: 5px;
    margin: 10px;
    width: auto;
    height: 120px;
}