body {
    box-sizing: border-box;
}

main {
    width: 300px;
    border: 1px solid gray;
}

#groups-id, #users-id, #chat-id, #profile-id {
    height: 345px;
}

#send-message-panel, #create-group-panel, #create-profile-panel, #profile-panel {
    display: flex;
    margin: 5px;
}

#chat-message-input, #create-group-input, #create-profile-input {
    width: 70%;
    border-radius: 5px;
    margin-right: 5px;
}

#chat-message-submit, #create-group-submit, #create-profile-submit {
    width: 30%;
    border-radius: 5px;
}

#chat-window, #groups-window, #profile-window{
    height: 300px;
    border: 1px black solid;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: aqua;
    border-radius: 10px;
}

div #groups-window {
    justify-content: flex-start;
}

.message {
    width: fit-content;
    border: 1px gray solid;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: lightgreen;
    word-break: break-all;
}

.buttons {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
}

#management-toolbar {
    display: flex;
    flex-direction: column;
}

.group {
    border: 1px solid gray;
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
}

.group-name {
    float: left;
}
.group-edit-button, .group-delete-button {
    float: right;
}

#avatar-img {
    padding: 10px;
    max-width:90%;
    height:auto;
}